#translate-btn{
    background-color: rgb(134, 172, 172);
}
#inputText{
    display: block;
    width: 70%;
    height: 40%;
    margin: 1%;
    padding: 52px;
    border: 2px solid black;
    border-radius: 12px;
}
.divsegment{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#input{
    display: block;
    width: 70%;
    height: 40%;
    margin: 1%;
    padding: 52px;
    border: 2px solid black;
    border-radius: 12px;
}

*{
    background-color: bisque;
}